{% extends "car_base.html" %}

{% block car_content %}

<h1>Nasza oferta samochódów</h1>
<h2><a href="{% url 'cars:list' %}"> Wyszukiwanie zaawansowane </a></h2>

<div class="container">
    <div class="content">
        {% for car in car_list %}
            <div class="car">
                <a class href="{% url 'cars:detail' car.id %}">
                    {% if car.image %}
                        <img src="{{ car.image.url}}">
                    {% endif %}
                        <h2>{{car.main.marka}} {{ car.main.model }}</h2>
                        <p>Kolor: {{ car.detail.get_color_display }}</p>
                        <p>Ilość miejsc: {{ car.detail.seats }}</p>
                        <p>Paliwo: {{ car.detail.get_fuel_display }}</p>
                        <p>Moc silnika:{{ car.detail.power }}</p>
                        <p>Rocznik: {{ car.detail.production_date }}</p>
                        <p>Cena: {{ car.detail.price }} zł/24h</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock car_content %}