{% extends "car_base.html" %}

{% block car_content %}

<h1>Our cars offer</h1>
<h2><a href="{% url 'cars:list' %}"> Advanced Search </a></h2>


<div class="list-content">
    {% for car in car_list %}
        <div class="car">
            <div>
                <a class href="{% url 'cars:detail' car.id %}">
                    {% if car.image %}
                        <img src="{{ car.image.url}}">
                    {% endif %}
                        <h2>{{car.main.brand}} {{ car.main.model }}</h2>
                        <p>Color: {{ car.detail.get_color_display }}</p>
                        <p>No of seats: {{ car.detail.seats }}</p>
                        <p>Fuel type: {{ car.detail.get_fuel_display }}</p>
                        <p>Engine power:{{ car.detail.power }}</p>
                        <p>Prod. date: {{ car.detail.production_date }}</p>
                        <p>Price: {{ car.detail.price }} /24h</p>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock car_content %}