{% extends 'base.html' %}

{% block content %}
<body>
    <div>
        <form id="booking-form" action="" method="POST">
            {% csrf_token %}
            <h3>Are you sure to resign ?</h3>
            <div class="beds">
                <h4>Brand: {{booking.car}}</h4>
            </div>
            <div class="from">
                <h4>Pick-up: {{booking.check_in}}</h4>
            </div>
            <div class="to">
                <h4>Drop-off: {{booking.check_out}}</h4>
            </div>
            <div class="input-div">
                <button type="'submit">Resign</button>
            </div>
        </form>
    </div>
</body>

{% endblock content %}