{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'hotel/css/room_detail_view.css' %}">

</head>

<body>
    <div class="content">

        <form id="booking-form" action="" method="POST">

            {% csrf_token %}
            <h2>Na pewno chcesz zrezygnować z rezerwacji?</h2>
            <h3> {{booking}}</h3>
            <!-- Input Div -->
            <div class="input-div">
                <button type="'submit">Cancel the booking</button>
            </div>
        </form>
    </div>
</body>

</html>