{% extends 'base.html' %}

{% block content %}
<body>
    <div class="content">
        <form id="booking-form" action="" method="POST">
            {% csrf_token %}
            <h3>Na pewno chcesz zrezygnować z rezerwacji?</h3>
            <div class="beds">
                <h4>Model: {{booking.car}}</h4>
            </div>
            <div class="from">
                <h4>Od: {{booking.check_in}}</h4>
            </div>
            <div class="to">
                <h4>Do: {{booking.check_out}}</h4>
            </div>
            <div class="input-div">
                <button type="'submit">Rezygnuje</button>
            </div>
        </form>
    </div>
</body>

{% endblock content %}