{% extends "car_base.html" %}

{% block car_content %}

<div><a href="{% url 'home' %}">BACK</a></div>

<form id="booking-form" action="" method="POST" class="post-form">

    {% csrf_token %}

    <div class="input-div">
        <label for="id_check_in">Check In : </label>
        <input type="datetime-local" id="id_check_in" name="check_in">
    </div>

    <div class="input-div">
        <label for="id_check_out">Check Out : </label>
        <input type="datetime-local" id="id_check_out" name="check_out">
    </div>

    <div class="input-div">
        <button type="submit">Book the Car</button>
    </div>
</form>

{% endblock car_content %}

