{% extends "car_base.html" %}

{% block car_content %}
<div><a href="{% url 'home' %}">BACK</a></div>
<table>
    <tr>
        <th>Make</th>
        <td>{{ car.main.marka }}</td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ car.main.model }}</td>
    </tr>
    <tr>
        <th>Color</th>
        <td>{{ car.detail.get_color_display }}</td>
    </tr>
    <tr>
        <th>No.seats</th>
        <td>{{ car.detail.seats }}</td>
    </tr>
    <tr>
        <th>Fuel</th>
        <td>{{ car.detail.get_fuel_display }}</td>
    </tr>
    <tr>
        <th>Power</th>
        <td>{{ car.detail.power }}</td>
    </tr>
    <tr>
        <th>Production date</th>
        <td>{{ car.detail.production_date }}</td>
    </tr>
    <tr>
        <th>PRICE</th>
        <td>${{ car.detail.price }}</td>
    </tr>

</table>
{% if user.is_authenticated %}
    <div class="input-div">
        <a href="{% url 'cars:booking' car.id %}"><button> Book the Car</button></a>
    </div>

    <a class="btn btn-primary btn-comment" href="{% url 'cars:add_comment_to_car' pk=car.pk %}">Add Comment</a>
{% endif %}

<div class="container">
    {% for comment in car.comment.all %}
    <br>
    {{ comment.created_date }}
    <p>{{comment.text}}</p>
    <p>Posted by:{{comment.author}}</p>
    {% empty %}
        <p>No Comments!</p>
    {% endfor %}
</div>

{% endblock car_content %}

