{% extends "car_base.html" %}
{% load static %}
{% block car_content %}
<form method="post">
    {% csrf_token %}
    {{ car_detail_form }}
    {{ car_main_form }}
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <th>Zdjęcie</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Color</th>
        <th>Seats</th>
        <th>Fuel</th>
        <th>Power</th>
        <th>Production Date</th>
        <th>Price</th>
    </tr>
{% for car in cars %}
    <tr>
        {% if car.image %}
            <td><img src="{{ car.image.url}}" alt=""></td>
        {% endif %}
        <td>{{ car.main.marka }}</td>
        <td>{{ car.main.model }}</td>
        <td>{{ car.detail.get_color_display }}</td>
        <td>{{ car.detail.seats }}</td>
        <td>{{ car.detail.get_fuel_display }}</td>
        <td>{{ car.detail.power }}</td>
        <td>{{ car.detail.production_date }}</td>
        <td>${{ car.detail.price }}</td>
        <td><a href="{% url 'cars:detail' car.id %}"> Sprawdź </a></td>

    </tr>

{% endfor %}
</table>
{% endblock car_content %}