{% extends "car_base.html" %}
{% load static %}
{% block car_content %}

<div class="detail-content">
    <div class="square">
        <div>
            <h1>{{car}}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id optio rem saepe culpa architecto tempora
                numquam debitis reiciendis! Quaerat laudantium consequuntur doloribus quod placeat consectetur
                veniam,
                rerum repellendus magnam labore.
            </p>
        </div>
        <div class="">
            <table>
                <tr>
                    <th>Brand</th>
                    <td>{{ car.main.brand }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ car.main.model }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{ car.detail.get_color_display }}</td>
                </tr>
                <tr>
                    <th>No. of seats</th>
                    <td>{{ car.detail.seats }}</td>
                </tr>
                <tr>
                    <th>Fuel type</th>
                    <td>{{ car.detail.get_fuel_display }}</td>
                </tr>
                <tr>
                    <th>Engine power</th>
                    <td>{{ car.detail.power }}</td>
                </tr>
                <tr>
                    <th>Prod. date</th>
                    <td>{{ car.detail.production_date }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ car.detail.price }}</td>
                </tr>

            </table>
    </div>
    <div class="square">
        {% if car.image %}
            <img src="{{ car.image.url}}" alt="cant load media">
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="button">
        <a class="btn btn-primary btn-comment" href="{% url 'cars:booking' car.id %}">Book a car</a>
    </div>
    <div class="button">
    <a class="btn btn-primary btn-comment" href="{% url 'cars:add_comment_to_car' pk=car.pk %}">Add comment</a>
    </div>
    {% endif %}
    <div class="content">
        <h3>Comments:</h3>
        {% for comment in car.comment.all %}
        <br>
        {{ comment.created_date }}
        <p>{{comment.text}}</p>
        <p>Created at: {{ comment.create_date|date:'d-m-y' }}</p>
        <p>Author:{{comment.author}}</p>
        {% empty %}
            <p>No Comments!</p>
        {% endfor %}
    </div>
</div>

{% endblock car_content %}

