{% extends "car_base.html" %}

{% block car_content %}
        <form id="booking-form" action="" method="POST">

            {% csrf_token %}

            <!-- Input Div -->
            <div class="input-div">
                <label for="id_check_in">Check In : </label>
                <input type="datetime-local" id="id_check_in" name="check_in">
            </div>

            <!-- Input Div -->
            <div class="input-div">
                <label for="id_check_out">Check Out : </label>
                <input type="datetime-local" id="id_check_out" name="check_out">
            </div>

            <!-- Input Div -->
            <div class="input-div">
                <button type="submit">Book the Room</button>
            </div>
{% endblock car_content %}

