.car {
    width: 355px;
    background: #ebebeb;
    border-radius: 10px;
    min-width: 300px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    flex: 1;
}

.car h2 {
  font-size: 30px;
  margin: 0.25rem;
}
.car p {
  font-size: 15px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.input-list{
    flex: 1 1 auto;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    flex:1;
    width:300px;
    border-radius: 0.5rem;
    line-height: 1.5;
    font-size: 1.5rem;
    color: #555;
}

.cars{
    margin-top: 2rem;
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

